<!DOCTYPE html>
<!--
点击特效
<script src="/js/src/click.js"></script>
-->
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>

<head>
    <%- partial('common/head') %>
</head>

<body class="is-<%= column_count() %>-column">
    <!--雪花皮肤-->
    <!-- <script type="text/javascript">
        var windowWidth = $(window).width();
        if (windowWidth > 480) {
            document.write('<script type="text/javascript" src="/js/src/snow.js"></script>');
    }
    </script> -->
    <%- partial('common/navbar', { page }) %>
    <% 
    function main_column_class() {
        switch (column_count()) {
            case 1:
                return 'is-12';
            case 2:
                return 'is-8-tablet is-8-desktop is-8-widescreen';
            case 3:
                return 'is-8-tablet is-8-desktop is-6-widescreen'
        }
        return '';
    } 
    function col(){
        if(!is_post()){
            return main_column_class();
        }else{
            return 'is-6-tablet is-6-desktop is-9-widescreen';
        } 
    }
    %>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column <%= col() %> has-order-2 column-main"><%- body %></div>
                <%- partial('common/widget', { position: 'left' }) %>
                <%- partial('common/widget', { position: 'right' }) %>
            </div>
        </div>
    </section>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
	<!--
	雪花特效
    <script type="text/javascript" src="/js/src/snow.js"></script>
	-->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</body>

</html>